@font-face {
	font-family: lol-bold;
	src: url(./assets/lol-bold.woff);
}
@font-face {
	font-family: lol-regular;
	src: url(./assets/lol-regular.woff);
}

.App {
	padding: 0;
	margin: 0;
}
a {
	color: #fff !important;
}
button {
	border: none !important;
}
button:focus {
	box-shadow: none !important;
	outline: none !important;
}
input {
	border: none;
}
input:focus {
	outline: none;
}


.menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	font-weight: 500;
	font-size: 1.2rem;
	z-index: 9999;
	transition: all 0.5s;
}
.menu li {
	margin-right: 1.5rem;
}
.menu .open {
	background-color: #000;
}
.menu .open li {
	border-bottom: 2px solid #c28f2c77;
}
.menu .scroll li {
	border-bottom: none;
}
.menu .navbar-brand img {
	width: 30px;
	height: auto;
}
.menu a.btn {
	border: none;
	padding-left: 2rem;
	padding-right: 2rem;
	border-radius: 0px;
	background: #c28f2c;
}
.menu .rp {
	font-weight: 500;
	font-size: 1.5rem;
	color: #fff;
	display: none;
	opacity: .9;
}
.menu .rp img {
	height: 40px;
	position: relative;
	top: -.3rem;
	margin-left: .5rem;
}

@media (min-width: 768px) {
	.menu li:hover a {
		border-bottom: 2px solid #c28f2c;
		margin-bottom: -2px;
	}
	.menu .navbar-brand img {
		width: 50px;
	}
	.menu .rp {
		display: block;
	}
}

.footer {
	background: transparent;
	padding-top: 2rem;
}
.footer div {
	margin-bottom: 1rem;
}
.footer img {
	width: 40px;
	height: auto;
	margin-right: 1rem;
	filter: invert(98%) sepia(0%) saturate(12%) hue-rotate(185deg) brightness(80%) contrast(82%);
}
.footer div p {
	margin-bottom: 0;
	letter-spacing: .2rem;
	font-size: 1.1rem;
}
.footer p {
	color: #bbb;
}
.footer > p {
	font-size: .8rem;
}
.footer a:hover {
	text-decoration: none;
}
@media (min-width: 768px) {
	.footer img {
		width: 50px;
	}
	.footer div p {
		font-size: 1.3rem;
	}
	.footer > p {
		font-size: 1rem;
	}
}


